@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap");

:root {
  --text-color: black;
  --background-color: antiquewhite;
  --primary-font: "Space Mono", monospace;
  --secondary-font: "BioRhyme", monospace;
}

/* MOBILE SCREEN */
@media (min-width: 320.98px) {
  .container {
    max-width: 90%;
  }

  :root {
    --font-xl: 10vw;
    --font-l: 1.5rem;
  }

  #fs {
    display: none;
  }

  .container.vhalf {
    display: block;
  }

  .themeButton #hs,
  .hamburgerButton #hs {
    display: flex;
  }

  .indexText:last-child {
    margin-top: 3rem;
  }

  .indexNavs {
    justify-content: center;
  }

  .logo {
    font-size: x-large;
  }
}

/* PC SCREEN */
@media (min-width: 800.98px) {
  .container {
    max-width: 750px;
  }

  :root {
    --font-xl: 5.8rem;
    --font-l: 2rem;
    --font-navbar: x-large;
  }

  .container.vhalf {
    justify-content: center;
    display: flex;
    gap: 3rem;
  }

  .themeButton #hs,
  .hamburgerButton #hs,
  #hs {
    display: none;
  }

  #fs {
    display: block;
  }

  .indexText:last-child {
    margin-top: 0rem;
  }

  .indexNavs {
    justify-content: space-between;
  }

  .logo {
    font-size: var(--font-navbar);
  }
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.image {
  max-width: 100%;
  z-index: 1;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.textJustify {
  text-align: justify;
}

.bigHeader {
  font-weight: 900;
  text-align: center;
  background: var(--text-color);
  color: var(--background-color);
  font-size: var(--font-xl);
  font-style: italic;
}

.smallHeader {
  font-weight: 900;
  text-align: center;
  font-size: var(--font-l);
}

.indexNavs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 900;
  gap: 1rem;
}

.indexNavs a {
  text-decoration: none;
}

.architecture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.architecture li {
  list-style: none;
  padding: 0.5rem 1rem;
  border: 2px dashed var(--text-color);
}

.circuitCentralText a {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: dashed;
}

.circuitCentralText a:hover {
  font-weight: 900;
  border-bottom: solid;
}

.indexText {
  display: grid;
  align-items: center;
}

.indexText:last-child {
  text-align: justify;
}

.navbar {
  justify-content: space-between;
  border-bottom: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  color: var(--text-color);
}

.hamburgerMenu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-navbar);
}

.logo:hover,
.hamburgerButton:hover,
.themeButton:hover,
.hamburgerMenu a:hover {
  text-decoration: underline;
  font-weight: 900;
  cursor: pointer;
}

.button {
  background: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 1rem;
  align-items: center;
  font-family: var(--primary-font);
}

.themeButton {
  font-family: var(--primary-font);
  font-size: var(--font-navbar);
  color: var(--text-color);
  border: none;
  background: none;
}

.hamburgerButton {
  border: none;
  background: none;
  font-family: var(--primary-font);
  font-size: var(--font-navbar);
}

.hamburgerMenu {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-bottom: solid;
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.5s ease, visibility 0.5s ease;
  background: var(--background-color);
  display: grid;
}

.hamburgerMenu a {
  margin-right: 1500px;
  padding: 2rem;
}

.hamburgerMenu.open {
  visibility: visible;
  max-height: 100%;
  border-bottom: solid;
  background: var(--background-color);
}

.bottomcard {
  margin-top: 15rem;
  padding: 5rem;
  border-top: solid;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  font-size: var(--font-navbar);
}

.bottomcardLogo {
  font-weight: 900;
  font-style: italic;
}

.socials {
  display: grid;
  gap: 0.5rem;
}

.socials span {
  text-align: center;
  justify-content: center;
}

.socials a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: dashed;
}

.socials a:hover {
  border-bottom: solid;
  font-weight: 900;
}

.timelineCaption {
  padding-left: 1rem;
}

.timelineRow {
  display: flex;
  justify-content: start;
  align-items: center;
}

.timelineIcon {
  display: flex;
  justify-content: center;
}

.indexBust {
  display: flex;
  justify-content: center;
  align-items: center;
}
