@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Kyiv Sans";
  src: url(../src/fonts/KyivTypeSans-VarGX.ttf) format("opentype");
  font-weight: 1 1000;
}

:root {
  --text-color: black;
  --background-color: white;
  --track-scrollbar-color: "transparent";
  --svg-inner-color: white;
  --svg-outer-color: black;

  --primary-font: "Space Mono", monospace;
  --secondary-font: "Kyiv sans", sans-serif;

  --pc-max-width: 750px;
  --mobile-max-width: 90%;

  --border-radius: 0;

  --overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

::-webkit-scrollbar-track-piece:start,
::-webkit-scrollbar-track-piece:end {
  background: var(--track-scrollbar-color);
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

/* MOBILE SCREEN */
@media (min-width: 0.98px) and (max-width: 800.98px) {
  :root {
    --font-xl: 10vw;
    /* divHeader */
    --font-l: 6vw;
    /* largeHeader */
    --font-m: 1.5rem;
    /* mediumHeader */
    --font-s: 1.25rem;
    /* smallHeader */
    --font-navbar: x-large;
  }

  .container {
    max-width: var(--mobile-max-width);
  }

  .topMargin {
    margin-top: 7rem !important;
  }

  .bottomMargin {
    margin-bottom: 7rem !important;
  }

  .hamburgerMenu {
    a {
      font-size: 8vh;
    }
  }

  #tooltip {
    display: none;
  }

  nav {
    background: var(--background-color);
    z-index: 1;
  }

  .projectCards {
    flex-direction: column;

    .card {
      width: var(--mobile-max-width);
    }

    .title {
      font-size: 7vw;

      &.active {
        font-size: 9vw;
      }
    }
  }
}

/* IDK WTF */
@media (min-width: 800.98px) and (max-width: 1150.98px) {
  nav {
    background: var(--background-color);
    z-index: 1;
  }

  #tooltip {
    display: none;
  }
}

/* PC SCREEN */
@media (min-width: 800.98px) {
  :root {
    --font-xl: 5.8rem;
    /* divHeader */
    --font-l: 3.5rem;
    /* largeHeader */
    --font-m: 2rem;
    /* mediumHeader */
    --font-s: 1.25rem;
    /* smallHeader */
    --font-navbar: x-large;
  }

  .container {
    max-width: var(--pc-max-width);
  }

  .topMargin {
    margin-top: 10rem !important;
  }

  .bottomMargin {
    margin-bottom: 10rem !important;
  }

  .hamburgerMenu {
    a {
      font-size: 8.5vw;
    }
  }

  .bottomcard {
    font-size: var(--font-navbar);
  }

  .projectCards {
    flex-direction: row;

    .card {
      width: var(--pc-max-width);
    }

    .title {
      font-size: 2rem;

      &.active {
        font-size: var(--font-l);
      }
    }
  }
}

p {
  line-height: 2rem;
}

html {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);

  overflow-x: hidden;
  overflow-y: var(--overflow-y);

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: var(--font-xl);
  font-style: italic;

  margin: 3rem 0;

  &.altBackground {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
  }
}

h2 {
  margin: 3rem 0;
  font-size: var(--font-l);

  font-style: italic;
}

h3 {
  margin: 3rem 0;
  font-size: var(--font-m);
}

h4 {
  margin: 3rem 0;
  font-size: var(--font-s);
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.imageContainer {
  display: grid;
  gap: 1rem;

  .image {
    border: solid 2px;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%;
  }
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.bottomMarginHUGE {
  margin-bottom: 35rem !important;
}

.topMarginHUGE {
  margin-top: 35rem !important;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.textJustify {
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  font-style: italic;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);

  border: none;

  border-radius: var(--border-radius);
}

.architecture {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  li {
    list-style: none;
    padding: 0.5rem 1rem;
    border: 2px dashed var(--text-color);

    transition: all 0.2s;

    border-radius: var(--border-radius);
  }
}

.projectCards {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 1rem;

  &.noGap {
    gap: 0;
  }

  .card {
    position: relative;

    height: 150px;
    border: 2px solid var(--text-color);

    align-content: center;
    text-align: center;

    transition: width 1s, height 1s, filter 1s, font-variation-settings 1s,
      opacity 0.5s, background-color 0.5s, border 0.5s;

    border-radius: var(--border-radius);

    &.slowTransition {
      transition: width 1.25s, height 1.25s, filter 1s,
        font-variation-settings 1s, opacity 2.5s, background-color 0.5s,
        border 0.5s;
    }

    &.active {
      width: 100%;
      background-color: var(--text-color);
    }

    &.hidden {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
      border: none;
    }

    &.none {
      display: none;
    }
  }

  .logo {
    pointer-events: none;
    opacity: 0.25;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 0.5s, filter 0.5s;

    filter: blur(0px) brightness(50%);

    &.hidden {
      opacity: 0;
    }
  }

  .cardHover:hover {
    .logo {
      opacity: 0.5;
      filter: blur(4px);
    }
  }

  .title {
    line-height: 1;
    font-family: var(--secondary-font);

    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 1s, font-size 1s, line-height 1s, color 0.5s;

    padding: 0 20px;

    white-space: nowrap;

    &.active {
      line-height: 0.7;
      color: var(--background-color);
      font-variation-settings: "wght" 1000, "CONT" 1000;
    }

    &.hidden {
      opacity: 0;
      font-variation-settings: "wght" 1000, "CONT" 1000;
    }

    .year {
      font-size: 1rem;
      font-family: var(--primary-font);
    }
  }

  .content {
    text-align: justify;

    transition: opacity 0.5s;
    padding-bottom: 10rem;

    &.hidden {
      opacity: 0;
    }

    &.none {
      display: none;
    }
  }

  .backButton {
    transition: visibility 0.5s, opacity 0.5s, font-variation-settings 1s;
    color: var(--text-color);
    position: absolute;
    bottom: 150px;
    left: 0;
  }
}

.projectLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.aboutLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem 0rem;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding: 1rem 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: var(--font-navbar);
}

.logo {
  text-decoration: none;
  color: var(--text-color);
}

.button:hover,
.link:hover,
.toThinHover:hover {
  cursor: pointer;
}

.hamburgerButtonTC {
  border: none;
  background: none;
  color: var(--text-color);

  align-content: center;
}

.hamburgerButtonBC {
  border: none;
  background: none;
  color: var(--background-color);
}

.hamburgerMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  display: grid;
  place-content: center;
  gap: 50px;
  text-align: center;
  transition: left 0.7s;

  z-index: 999;

  &.open {
    left: 0;
  }

  a {
    color: var(--background-color);
    text-decoration: none;

    padding: 0px 0px 10px 0px;
  }
}

.hamburgerMobileCloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  font-size: var(--font-navbar);
}

.bottomcard {
  text-align: center;
  padding: 0rem 3rem;
  margin-top: 10rem;
}

.tooltip {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 1rem 0;
  gap: 0.5rem;

  color: var(--text-color);
  font-size: small;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);

  border-bottom: 3px dashed;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.timelineCaption {
  padding: 1rem 0;
  margin-left: 1rem;
  line-height: 1.5rem;
}

.noCursor {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.dashedBorderLeft {
  background-image: repeating-linear-gradient(
    180deg,
    var(--text-color),
    var(--text-color) 12px,
    transparent 12px,
    transparent 22px
  );
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 2px 100%;
}

.dashedBorderBottom {
  background-image: repeating-linear-gradient(
    90deg,
    var(--text-color),
    var(--text-color) 12px,
    transparent 12px,
    transparent 22px
  );
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: 100% 2px;
}

.toThinHover {
  font-family: var(--secondary-font);
  transition: opacity 0.5s, font-variation-settings 0.5s;

  font-variation-settings: "wght" 400, "CONT" 1;

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  &:hover {
    font-variation-settings: "wght" 1000, "CONT" 1000;
  }
}

.pixelGrid {
  margin: 0;
  padding: 0;
  position: fixed;
  gap: 0;
  inset: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: none;

  .pixelItem {
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
  }
}

.none {
  display: none;
}

.timelineRow {
  margin-left: 2rem;
}

input {
  background-color: var(--text-color);
  border: 2px var(--text-color);
}
