@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --text-color: black;
  --background-color: antiquewhite;
  --primary-font: "Space Mono", monospace;
  --pc-max-width: 750px;
  --mobile-max-width: 90%;
}

/* MOBILE SCREEN */
@media (min-width: 0.98px) and (max-width: 800.98px) {
  .container,
  .collapseContainer {
    max-width: var(--mobile-max-width);
  }

  :root {
    --font-xl: 10vw;
    --font-l: 1.5rem;
    --font-navbar: x-large;
  }

  #fs,
  #navFixed {
    display: none;
  }

  .aboutText:last-child {
    margin-top: 3rem;
  }

  #navNormal {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* PC SCREEN */
@media (min-width: 800.98px) {
  .container,
  .collapseContainer {
    max-width: var(--pc-max-width);
  }

  :root {
    --font-xl: 5.8rem;
    --font-l: 2rem;
    --font-navbar: x-large;
  }

  .container.vhalf {
    justify-content: center;
    display: flex;
    gap: 3rem;
  }

  #hs,
  #navNormal {
    display: none;
  }

  .aboutText:last-child {
    margin-top: 0rem;
  }

  .bottomcard {
    font-size: var(--font-navbar);
  }
}

@media (min-width: 800.98px) and (max-width: 1300.98px) {
  #navNormal {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #navFixed {
    display: none;
  }
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image {
  max-width: 100%;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.textJustify {
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bigHeader {
  font-weight: 900;
  text-align: center;
  font-size: var(--font-xl);
  font-style: italic;

  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 10px 10px var(--text-color);
  border: solid var(--text-color);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: all 0.3s ease;
}

.bigHeader.active,
.bigHeader:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  box-shadow: none;
  border: solid var(--text-color);
  cursor: pointer;
}

.smallHeader {
  font-weight: 900;
  font-size: var(--font-l);
  line-height: 2.5rem;
}

.architecture {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.architecture li {
  list-style: none;
  padding: 0.5rem 1rem;
  border: 2px dashed var(--text-color);
}

.projectLinks {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
}

.aboutText {
  display: grid;
  place-items: center;
}

.navbar {
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);

  font-size: var(--font-navbar);
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-weight: 900;
}

.logo.noNav {
  margin-left: 2rem;
  margin-top: 1rem;
  position: fixed !important;
  left: 0;
  top: 0;
  font-size: var(--font-navbar);
}

.logo:hover,
.hamburgerButtonTC:hover,
.hamburgerButtonBC:hover {
  cursor: pointer;
  font-weight: 900;
}

.hamburgerButtonTC {
  border: none;
  background: none;
  font-family: var(--primary-font);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-weight: 900;
  color: var(--text-color);
}

.hamburgerButtonTC.noNav {
  margin-right: 2rem;
  margin-top: 1rem;
  position: fixed !important;
  right: 0;
  top: 0;
  font-size: var(--font-navbar);
}

.hamburgerButtonBC {
  border: none;
  background: none;
  font-family: var(--primary-font);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-weight: 900;
  color: var(--background-color);
}

.hamburgerMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  display: grid;
  place-content: center;
  gap: 7rem;
  text-align: center;
  transition: left 0.3s ease;

  z-index: 999;
}

.hamburgerMenu.open {
  left: 0;
}

.hamburgerMenu a {
  color: var(--background-color);
  text-decoration: none;
  font-size: 7vw;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hamburgerMobileCloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.bottomcard {
  text-align: center;
  padding: 3rem;
  margin-top: 15rem;
  background-color: var(--background-color);
}

.tooltip {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  color: var(--text-color);
  background-color: var(--background-color);
  font-size: small;
}

.socials {
  display: grid;
  gap: 0.5rem;
}

.socials span {
  text-align: center;
  justify-content: center;
}

.hyperLink {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: dashed;
}

.withIcon {
  margin-left: 0.5rem;
}

.hyperLink:hover {
  border-bottom: solid;
  font-weight: 900;
}

.timelineCaption {
  margin-left: 1rem;
}

.aboutBust {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotHoverBC {
  position: relative;
}

.dotHoverBC::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--background-color);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dotHoverBC:hover::after {
  opacity: 1;
}

.dotHoverTC {
  position: relative;
}

.dotHoverTC::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dotHoverTC:hover::after {
  opacity: 1;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.topMargin {
  margin-top: 10rem;
}

.bottomMargin {
  margin-bottom: 10rem;
}

.collapseContainer {
  margin-top: -3.19rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-height: 0;
  border-bottom: dashed;

  transition: max-height 1s ease, margin-top 1s ease, margin-bottom 1s ease;
}

.collapseContainer.transitionDelay {
  transition-delay: 1.5s;
}

.collapseContainer.about.expanded {
  max-height: 1400px;
  border-bottom: dashed;
  margin-bottom: 15rem;
}

.collapseContainer.project.expanded {
  max-height: 2800px;
  border-bottom: dashed;
  margin-bottom: 15rem;
}

.collapseContainer.contact.expanded {
  max-height: 600px;
  border-bottom: dashed;
  margin-bottom: 15rem;
}
