@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --text-color: black;
  --background-color: antiquewhite;
  --svg-inner-color: ;
  --svg-outer-color: ;
  --primary-font: "Space Mono", monospace;
  --pc-max-width: 750px;
  --mobile-max-width: 90%;

  --about-height: 3200px;
  --project-height: 9600px;
  --contact-height: 600px;
}

/* MOBILE SCREEN */
@media (min-width: 0.98px) and (max-width: 800.98px) {

  .container,
  .collapseContainer {
    max-width: var(--mobile-max-width);
  }

  :root {
    --font-xl: 10vw;
    /* divHeader */
    --font-l: 6vw;
    /* largeHeader */
    --font-m: 1.5rem;
    /* mediumHeader */
    --font-s: 1.25rem;
    /* smallHeader */
    --font-navbar: x-large;
  }

  #fs,
  #navFixed,
  #tooltip {
    display: none;
  }

  .quoteCard {
    padding: 2rem;
  }
}

/* PC SCREEN */
@media (min-width: 800.98px) {

  .container,
  .collapseContainer {
    max-width: var(--pc-max-width);
  }

  :root {
    --font-xl: 5.8rem;
    /* divHeader */
    --font-l: 3.5rem;
    /* largeHeader */
    --font-m: 2rem;
    /* mediumHeader */
    --font-s: 1.25rem;
    /* smallHeader */
    --font-navbar: x-large;
  }

  .vhalf {
    justify-content: center;
    display: flex;
    gap: 3rem;
  }

  #hs,
  #navNormal {
    display: none;
  }

  #navFixed {
    z-index: 0;
  }

  .bottomcard {
    font-size: var(--font-navbar);
  }

  .quoteCard {
    padding-right: 2rem;
  }
}

@media (min-width: 800.98px) and (max-width: 1300.98px) {
  #navNormal {
    display: flex;
  }

  #navFixed,
  #tooltip {
    display: none;
  }
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navNormal {
  z-index: 1;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.image {
  width: 100%;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.flexRightH {
  display: flex;
  justify-content: end;
}

.flexLeftH {
  display: flex;
  justify-content: start;
}

.textJustify {
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  font-weight: 900;
  text-align: center;
  font-style: italic;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);

  border: none;
}

.scaleHover {
  transition: scale 0.2s ease;
}

.scaleHover:hover {
  scale: 1.1;
}

.mirrorLeft {
  transform: rotateY(180deg);
}

.mirrorUp {
  transform: rotate(180deg);
}

.handPointingButtonBottomMargin {
  margin-bottom: 150px;
}

.largeHeader {
  font-weight: 900;
  font-size: var(--font-l);
  font-style: italic;
}

.divHeader {
  font-weight: 900;
  text-align: center;
  font-size: var(--font-xl);
  font-style: italic;

  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 10px 10px var(--text-color);
  border: solid var(--text-color);

  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    border 0.3s ease;
}

.collapseContainer.transitionDelay {
  transition-delay: 1.8s;
}

.divHeader.active {
  background-color: var(--text-color);
  color: var(--background-color);
  box-shadow: none;
  border: solid var(--text-color);
}

.mediumHeader {
  font-weight: 900;
  font-size: var(--font-m);
}

.smallHeader {
  font-weight: 900;
  font-size: var(--font-s);
}

.architecture {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.architecture li {
  list-style: none;
  padding: 0.5rem 1rem;
  border: 2px dashed var(--text-color);

  transition: all 0.2s ease;
}

.architecture li:hover {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--background-color);
}

.projectLinks {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);

  font-size: var(--font-navbar);
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--background-color);
  font-weight: 900;
}

.logo.noNav {
  margin-left: 2rem;
  margin-top: 1rem;
  position: fixed !important;
  left: 0;
  top: 0;
  font-size: var(--font-navbar);
  background-color: var(--background-color);
}

.dotHoverBC:hover,
.dotHoverTC:hover,
.button:hover,
.scaleHover:hover {
  cursor: pointer;
}

.hamburgerButtonTC {
  border: none;
  background: none;
  font-family: var(--primary-font);
  font-weight: 900;
  color: var(--text-color);
}

.hamburgerButtonTC.noNav {
  margin-right: 2rem;
  margin-top: 1rem;
  position: fixed !important;
  right: 0;
  top: 0;
  font-size: var(--font-navbar);
}

.hamburgerButtonBC {
  border: none;
  background: none;
  font-family: var(--primary-font);
  font-weight: 900;
  color: var(--background-color);
}

.hamburgerMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  display: grid;
  place-content: center;
  gap: 7rem;
  text-align: center;
  transition: left 0.3s ease;

  z-index: 999;
}

.hamburgerMenu.open {
  left: 0;
}

.hamburgerMenu a {
  color: var(--background-color);
  text-decoration: none;
  font-size: 7vw;
}

.hamburgerMobileCloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: var(--font-navbar);
}

.bottomcard {
  text-align: center;
  padding: 3rem;
  margin-top: 15rem;
  background-color: var(--background-color);
}

.tooltip {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;

  color: var(--text-color);
  background-color: var(--background-color);
  font-size: small;
}

.socials {
  display: grid;
  gap: 0.5rem;
}

.socials span {
  text-align: center;
  justify-content: center;
}

.hyperLink {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: dashed;
}

.withIcon {
  margin-left: 0.5rem;
}

.hyperLink:hover {
  border-bottom: solid;
  font-weight: 900;
}

.timelineCaption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  line-height: 1.5rem;
}

.dotHoverBC {
  position: relative;
}

.dotHoverBC::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--background-color);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dotHoverBC:hover::after {
  opacity: 1;
}

.dotHoverTC {
  position: relative;
}

.dotHoverTC::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dotHoverTC:hover::after {
  opacity: 1;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.topMargin {
  margin-top: 10rem;
}

.bottomMargin {
  margin-bottom: 10rem;
}

.bottomMarginHUGE {
  margin-bottom: 35rem;
}

.topMarginHUGE {
  margin-top: 35rem;
}

.collapseContainer {
  z-index: -1;
  position: relative;
  margin-top: -3.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-height: 0;
  border-bottom: dashed;

  transition: max-height 1s ease, margin-top 1s ease, z-index 1s ease;
}

.collapseContainer.about.expanded {
  max-height: var(--about-height);
  z-index: 0;
}

.collapseContainer.project.expanded {
  max-height: var(--project-height);
  z-index: 0;
}

.collapseContainer.contact.expanded {
  max-height: var(--contact-height);
  z-index: 0;
}

.quoteCard {
  border: solid;
  box-shadow: 10px 10px;
}

.noCursor {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.gridCenterV {
  display: grid;
  align-items: center;
}

.handPointingMarginLeft {
  margin-left: 25px;
}

.handPointingMarginRight {
  margin-right: 60px;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  place-items: center;
  background: var(--background-color);
  height: 100vh;
  z-index: 1000;
}

#projectHeader,
#projectContainer,
#contactHeader,
#contactContainer {
  display: none;
}

.quoteFont {
  font-size: 25px;
}

.timeline {
  border-left: dashed;
}

.timelineRow {
  margin-left: 3rem;
}

.quoteCard picture {
  border-right: solid var(--text-color);
}