@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Kyiv Sans";
  src: url(../src/fonts/KyivTypeSans-VarGX.ttf) format("opentype");
  font-weight: 1 1000;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--track-scrollbar-color);
}

/* ::-webkit-scrollbar-track-piece:start,
::-webkit-scrollbar-track-piece:end {
  background: transparent;
} */

:root {
  --text-color: black;
  --background-color: white;

  --track-scrollbar-color: "transparent";
  --scrollbar-color: var(--text-color);

  --primary-font: "Space Mono", monospace;
  --secondary-font: "Kyiv sans", sans-serif;

  --pc-max-width: 750px;
  --mobile-max-width: 90%;

  --border-radius: 0;

  --toastify-color-light: var(--text-color) !important;

  --toastify-text-color-light: var(--background-color) !important;

  --toastify-color-success: var(--background-color) !important;
  --toastify-color-error: var(--background-color) !important;
  --toastify-color-info: var(--background-color) !important;

  --toastify-font-family: var(--primary-font) !important;

  --toastify-z-index: 1 !important;
}

.Toastify__close-button {
  color: var(--background-color) !important;
  opacity: 1 !important;
}

.Toastify__toast {
  border-radius: var(--border-radius) !important;
  border: 2px var(--background-color) solid !important;
}

.Toastify__toast-container--top-left {
  margin-top: 3.75rem !important;
}

.Toastify__toast-container--top-right {
  margin-top: 3.75rem !important;
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

/* MOBILE SCREEN */
@media (min-width: 0.98px) and (max-width: 800.98px) {
  :root {
    --font-xl: 2.6rem;
    /* h1 */
    --font-l: 2.3rem;
    /* h2 */
    --font-m: 1.5rem;
    /* h3 */
    --font-s: 1.25rem;
    /* h4 */
    --font-navbar: x-large;
  }

  .container {
    max-width: var(--mobile-max-width);
  }

  .hamburgerMenu {
    a {
      font-size: 8vh;
    }
  }

  nav {
    background: var(--background-color);
    z-index: 1;
  }

  .projectCards {
    flex-direction: column;

    .title {
      font-size: 7vw;

      &.active {
        font-size: 8.75vw;
      }
    }

    .card {
      width: 100%;
      height: 125px;
    }

    .backButton {
      bottom: 135px;
    }

    .content {
      text-align: left;
    }
  }

  h1 {
    padding-bottom: 10.5px;
  }

  .contactForm {
    .nameAndEmail {
      display: block;
    }
  }

  #fs {
    display: none;
  }
}

/* IDK WTF */
@media (min-width: 800.98px) and (max-width: 1350.98px) {
  nav {
    background: var(--background-color);
    z-index: 1;
  }
}

/* PC SCREEN */
@media (min-width: 800.98px) {
  :root {
    --font-xl: 5.8rem;
    /* divHeader */
    --font-l: 3.5rem;
    /* largeHeader */
    --font-m: 2rem;
    /* mediumHeader */
    --font-s: 1.25rem;
    /* smallHeader */
    --font-navbar: x-large;
  }

  #hs {
    display: none;
  }

  .container {
    max-width: var(--pc-max-width);
  }

  .hamburgerMenu {
    a {
      font-size: 8.5vw;
    }
  }

  .bottomcard {
    font-size: var(--font-navbar);
  }

  .projectCards {
    flex-direction: row;

    .title {
      font-size: 2rem;

      &.active {
        font-size: var(--font-l);
      }
    }

    .card {
      width: 400px;
      height: 150px;
    }

    .backButton {
      bottom: 150px;
    }

    .content {
      text-align: justify;
    }
  }

  h1 {
    padding-bottom: 22.5px;
  }

  .contactForm {
    .nameAndEmail {
      display: flex;
    }
  }

  .Toastify__toast-container--top-left {
    margin-top: 3.75rem !important;
    max-width: 280px !important;
  }
}

p {
  line-height: 2rem;
}

html {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);

  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: var(--font-xl);
  font-style: italic;
  font-family: var(--secondary-font);

  margin: 3rem 0;

  &.altBackground {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
  }
}

h2 {
  margin: 3rem 0;
  font-size: var(--font-l);

  font-style: italic;
}

h3 {
  margin: 3rem 0;
  font-size: var(--font-m);
}

h4 {
  margin: 3rem 0;
  font-size: var(--font-s);
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.imageContainer {
  display: grid;
  gap: 1rem;

  .image {
    border: solid 2px;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%;
  }
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.bottomMarginHUGE {
  margin-bottom: 35rem !important;
}

.topMarginHUGE {
  margin-top: 35rem !important;
}

.topMargin {
  margin-top: 7rem !important;
}

.bottomMargin {
  margin-bottom: 7rem !important;
}

.flexCenterH {
  display: flex;
  justify-content: center;
}

.flexCenterV {
  display: flex;
  align-items: center;
}

.textJustify {
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  font-style: italic;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);

  border: none;

  border-radius: var(--border-radius);

  font-size: 1rem;
}

.architecture {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  li {
    list-style: none;
    padding: 0.5rem 1rem;
    border: 2px dashed var(--text-color);

    border-radius: var(--border-radius);
  }
}

.projectCards {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 1rem;

  .card {
    position: relative;

    border: 2px solid var(--text-color);

    align-content: center;
    text-align: center;

    backface-visibility: hidden;

    border-radius: var(--border-radius);
  }

  .background {
    pointer-events: none;

    width: 100%;
    height: 100%;

    object-fit: cover;

    backface-visibility: hidden;

    opacity: 0.125;

    filter: grayscale(100);
  }

  .title {
    line-height: 1.75rem;
    font-family: var(--secondary-font);

    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    backface-visibility: hidden;

    padding: 0 20px;

    white-space: nowrap;

    transition: font-size 1s;
    transition-delay: 0.125s;

    &.active {
      color: var(--background-color);
    }

    .year {
      font-size: 1rem;
      font-family: var(--primary-font);
    }
  }

  .content {
    font-family: var(--primary-font);

    backface-visibility: hidden;

    padding-bottom: 10rem;

    display: none;
    opacity: 0;
  }

  .backButton {
    color: var(--text-color);
    position: absolute;
    left: 0;

    backface-visibility: hidden;

    display: none;
    opacity: 0;

    font-size: 1.25rem;
  }
}

.projectLinks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.aboutLinks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  margin: 3rem 0;
  justify-content: space-evenly;
  align-items: center;
}

.contactLinks {
  flex-wrap: wrap;
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
}

nav {
  justify-content: space-between;
  padding: 1rem 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: var(--font-navbar);

  .logoAndTheme {
    display: flex;
    gap: 4rem;
  }
}

.toThinHover:hover,
.themeButton:hover {
  cursor: pointer;
}

.hamburgerButtonTC {
  border: none;
  background: none;
  color: var(--text-color);

  align-content: center;
}

.hamburgerButtonBC {
  border: none;
  background: none;
  color: var(--background-color);
}

.hamburgerMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  display: grid;
  place-content: center;
  gap: 50px;
  text-align: center;
  transition: left 0.7s;

  backface-visibility: hidden;

  z-index: 999;

  &.open {
    left: 0;
  }

  a {
    color: var(--background-color);
    text-decoration: none;

    padding: 0px 0px 10px 0px;
  }
}

.hamburgerMobileCloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  font-size: var(--font-navbar);
}

.bottomcard {
  text-align: center;
  padding: 0rem 3rem;
  margin-top: 10rem;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);

  border-bottom: 3px dashed;

  backface-visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.timelineCaption {
  padding: 1rem 0;
  margin-left: 1rem;
  line-height: 1.5rem;
}

.noCursor {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.dashedBorderLeft {
  background-image: repeating-linear-gradient(
    180deg,
    var(--text-color),
    var(--text-color) 12px,
    transparent 12px,
    transparent 22px
  );
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 2px 100%;
}

.dashedBorderBottom {
  background-image: repeating-linear-gradient(
    90deg,
    var(--text-color),
    var(--text-color) 12px,
    transparent 12px,
    transparent 22px
  );
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: 100% 2px;

  margin: 10rem auto;

  &.short {
    width: 25%;
    line-height: 0.15;
  }
}

.toThinHover {
  font-family: var(--secondary-font);
  transition: opacity 0.5s, font-variation-settings 0.5s;

  backface-visibility: hidden;

  font-variation-settings: "wght" 400, "CONT" 1;

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  &:hover {
    font-variation-settings: "wght" 1000, "CONT" 1000;
  }
}

.pixelGrid {
  margin: 0;
  padding: 0;
  position: fixed;
  gap: 0;
  inset: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: none;

  .pixelItem {
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
  }
}

.contactForm {
  margin: 3rem 0rem;

  .nameAndEmail {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  label {
    font-size: var(--font-s);
    font-weight: 900;
  }

  input,
  textarea {
    font-family: var(--primary-font);
    color: var(--background-color);

    font-size: 1rem;

    width: 100%;

    margin-top: 0.25rem;
    margin-bottom: 1.5rem;

    text-align: center;

    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);

    background-color: var(--background-color);
    color: var(--text-color);

    backface-visibility: hidden;

    &.textbox {
      height: 3rem;
      padding: 0 1rem;
    }

    &.textarea {
      height: 6rem;
      padding: 1rem;
      resize: vertical;
      min-height: 6rem;
    }

    &:focus {
      outline: 0px solid var(--text-color);

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      color: var(--text-color);
      opacity: 0.25;
    }
  }
}